.add-rule-snippet {
  display: inline-block;
  margin: 10px auto;
  text-decoration: none;
  font-size: 12px;
  padding: 6px 12px;
  text-align: center;
  border: 1px solid #33691E;
  border-radius: 20px;
  color: #33691E;
  background: #C5E1A5;
}

.rule-snippet-name {
  display: inline-block;
  text-decoration: none;
  padding: 6px 18px;
  color: #33691E;
  background: #9CCC65;
  border: 2px solid #33691E;
  border-radius: 18px;
  font-size: 12px;
  margin: 5px 0;
}

.rule-snippet-name:hover {
  color: #333;
  border-color: #333;
}

.rule-snippets-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.rule-snippets {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 87px;
  background: #C5E1A5;
  border: 2px solid #33691E;
  padding: 20px;
  overflow-y: scroll;
  z-index: 20;

  -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
}
