<template name="homepage">

  <div class="v-aling-wrapper">
    <div class="v-align">
      <a href="#" class="enable-sounds">
        {{#if soundsEnabled}}
          <i class="fa fa-bell-slash"></i>
        {{else}}
          <i class="fa fa-bell"></i>
        {{/if}}
      </a>

      <img src="/logo.png" alt="" class="main-logo">

      <nav class="home-links">
        <a href="/levels">Start game</a>
        <a href="/help">Instructions</a>
        <a href="https://www.youtube.com/watch?v=9c4s_EwS9-w" target="_blank">Demo</a>
      </nav>
    </div>
  </div>
</template>
