<template name="homepage">

  <div class="v-aling-wrapper">
    <div class="v-align">
      <a href="#" class="enable-sounds">
        {{#if soundsEnabled}}
          <i class="fa fa-bell-slash"></i>
        {{else}}
          <i class="fa fa-bell"></i>
        {{/if}}
      </a>

      <h1 class="home-logo">
        Katterpillar<br>
        <small>Learn computer programming with Katterpillar.</small>
      </h1>

      <nav class="home-links">
        <a href="/levels">Start Game</a>
        <a href="/help">Instructions</a>
        <a href="/about">About the Game</a>
      </nav>
    </div>
  </div>
</template>
