.main-logo {
  width: 100%;
  margin-bottom: 30px;
}

.home-links a {
  display: block;
  width: 200px;
  background: #fafafa;
  margin: 10px auto;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 50px;
  color: #888;
}

.enable-sounds {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #aaa;
  background: #fafafa;
  display: block;
  padding: 9px 9px;
  border: solid 1px #ccc;
  border-radius: 24px;
  width: 16px;
}

.enable-sounds:hover {
  border: solid 1px #888;
  color: #888;
}
