.navigation {
  display: block;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  border-top: 3px solid #33691E;
  color: #558B2F;
  box-sizing: border-box;
  background: #558B2F;
}

.navigation a {
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  text-decoration: none;
  background: #9CCC65;
  color: #33691E;
  border: 2px solid #33691E;
  border-radius: 13px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  transition: background 0.5s;
}

.navigation a.left {
  float: left;
}

.navigation a.right {
  float: right;
}

.navigation a:hover {
  background: #DCEDC8;
}
