.navigation {
  display: block;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  border-top: 1px solid #aaa;
  color: #aaa;
  box-sizing: border-box;
  background: #eee;
}

.navigation a {
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  text-decoration: none;
  background: #fff;
  color: #aaa;
  border: solid 1px #aaa;
  border-radius: 13px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}

.navigation a.left {
  float: left;
}

.navigation a.right {
  float: right;
}

.navigation a:hover {
  color: #555;
  border: solid 1px #888;
}

.navigation a.active {
  color: #555;
  border: solid 1px #888;
}
