.level-info {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 30px;
  border-bottom: solid 2px #558B2F;
  padding-bottom: 20px;
}

.level-info h1 {
  font-size: 14px;
}

.level-info code {
  padding: 1px 8px;
  background: #C5E1A5;
  border: solid 1px #558B2F;
  font-size: 12px;
  border-radius: 12px;
  }
}
