body {
  font: 14px 'Helvetica Neue', Helvetica, Arials;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

.page-container {
  padding: 20px 20px 87px 20px;
  box-sizing: border-box;
  overflow: scroll;
  max-width: 600px;
  margin: 0 auto;
}
