<template name="instructions">
  {{#markdown}}

# Instructions

Hi, Katapillar is a game where you can learn programming concepts while guiding this caterpillar to it's goals. After selecting a level, use the code editor to enter some commands to collect all fruits while avoiding obstacles.

# User Interface

Different parts of the game can be accessed using the footer. Any sections can be visited at any time without losing progress.

## <small><i class="fa fa-bars"></i></small> Levels Map

From here, you can start game levels. Click on a button to start that level. First 6 levels are tutorials which explains different parts of the game. All following levels are puzzles.

## <small><i class="fa fa-code"></i></small> Rule Editor

From here you can add, modify or remove commands the caterpillar is going to follow. Any number of commands can be given but commands cost time. Each level has a limited time to complete the goal.

## <small><i class="fa fa-play"></i></small> Game Preview

The game will automatically start executing instructions when user goes to this view.


This is the rule editor, from here you can give some instructions to the caterpillar. To come back here, click on the <strong><i class="fa fa-code"></i></strong> icon on the footer. After programming the caterpillar, click on the play button on the footer to see how it goes. Before checking it out, give the caterpillar some commands.,

  {{/markdown}}
</template>
