.levels-list {
  padding-left: 0;
}

.levels-list li {
  display: block;
}

.levels-list li a {
  display: block;
  margin: 12px 0;
  padding: 8px 12px;
  background: #7CB342;
  border-radius: 16px;
  border: solid 2px #33691E;
  color: #33691E;
  transition: background 0.5s;
  font-weight: bold;
}

.levels-list li a:hover {
  background: #AED581;
}
